/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
}
:root {
  --primary: linear-gradient(#21b535, #257953);
  --bg-primary: #fff;
  --bg-secondary: #ebe9e9;
  --font-color: #000;

  --font-small: clamp(14px, 0.5vw, 16px);
  --font-medium: clamp(16px, 1vw, 20px);

  --shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
  --radius: clamp(8px, 1vw, 16px);
  --padding: clamp(8px, 1vw, 14px);
  --transition: all 300ms ease;
}
.dark {
  --bg-primary: #000;
  --bg-secondary: #2e2d2d;
  --font-color: #fff;

  --shadow: 2px 2px 6px rgba(226, 226, 226, 0.2);
}
a {
  font-size: var(--font-medium);
  font-weight: 800;
}
p {
  font-size: var(--font-medium);
  font-weight: 600;
}
i {
  font-size: clamp(20px, 1.1vw, 24px);
  padding: var(--padding);
  border-radius: var(--radius);
}
span {
  font-size: var(--font-small);
}
.active {
  background: var(--primary) !important;
  color: #fff !important;
}
.container {
  padding: var(--padding);
  box-shadow: var(--shadow);
  border-radius: var(--radius);
  transition: var(--transition);
}
body {
  font-family: "Poppins", sans-serif;
  width: 100%;
  height: 100svh;
  background: var(--bg-primary);
  padding: 1rem;
}
/* Containers */
.containers {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: minmax(220px, 300px) 1fr;
  gap: 1rem;
  transition: var(--transition);
}
.containers.collapse {
  grid-template-columns: minmax(60px, 64px) 1fr;
}
.containers.collapse .text {
  display: none;
}
.containers.collapse nav {
  justify-content: center;
}
/* Navbar */
nav {
  background: var(--bg-secondary);
  display: grid;
  grid-template-rows: minmax(60px, 64px) auto 160px;
}
.btn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
}
.btn i {
  box-shadow: var(--shadow);
  cursor: pointer;
  background: var(--bg-primary);
  color: var(--font-color);
  margin-top: -25px;
}
.logo,
.menu {
  color: var(--font-color);
}
.navbar {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
.navbar a {
  display: flex;
  align-items: center;
  color: var(--font-color);
  border-radius: var(--radius);
  transition: var(--transition);
}
.navbar a:hover {
  background: var(--bg-primary);
}
/* Aside */
aside {
  display: grid;
  grid-template-rows: minmax(60px, 64px) auto;
  gap: 1rem;
}
.aside__top {
  width: 100%;
  background: var(--bg-secondary);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.aside__top .search {
  display: flex;
  width: 35%;
  align-items: center;
  background: var(--bg-primary);
  color: var(--font-color);
  box-shadow: var(--shadow);
  border-radius: var(--radius);
}
.search input {
  width: 100%;
  background: transparent;
  color: var(--font-color);
}
.search i:last-child {
  margin-right: 1rem;
  font-size: 14px;
  padding: 5px;
  border-radius: 5px;
  background: var(--font-color);
  color: var(--bg-primary);
  cursor: pointer;
}
.icon {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.icon i {
  background: var(--bg-primary);
  color: var(--font-color);
  box-shadow: var(--shadow);
  cursor: pointer;
}
.user {
  display: flex;
  align-items: center;
  line-height: 1;
  gap: 0.5rem;
  margin-right: 1rem;
}
.user img {
  width: 50px;
}
.user p {
  font-size: 14px;
  color: var(--font-color);
}
.aside__down {
  height: 100%;
  background: var(--bg-secondary);
  display: grid;
  grid-template-rows: minmax(60px, 64px) auto;
  gap: 0.5rem;
}
.aside_text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--font-color);
}
.aside_text h5 {
  cursor: pointer;
}
.aside_project {
  height: 100%;
  display: grid;
  grid-template-rows: minmax(100px, 150px) auto;
  gap: 0.5rem;
}
.projects {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
}
.project {
  background: var(--bg-primary);
  color: var(--font-color);
}
.project h1 {
  font-size: 40px;
}
.text_project {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.text_project i {
  background: var(--font-color);
  color: var(--bg-primary);
}

.trafic {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto 160px;
  grid-template-areas:
    "trafic1 trafic1 trafic3 trafic4 "
    "trafic2 trafic2 trafic3 trafic4";
  gap: 0.5rem;
}
.trafic1 {
  grid-area: trafic1;
  background: var(--bg-primary);
}
.trafic2 {
  grid-area: trafic2;
  width: 100%;
  background: var(--bg-primary);
  display: flex;
  align-items: center;
  gap: 1rem;
}
.trafic2 h3 {
  width: 30%;
  line-height: 1.2;
  color: var(--font-color);
}
table {
  width: 100%;
}
.trafic2_team {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.trafic2_team td {
  width: 100%;
  height: 100%;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--font-color);
}
.trafic2_team img {
  width: 30px;
}
.details {
  text-decoration: underline;
  cursor: pointer;
}
.status {
  background: green;
  color: #fff !important;
  border-radius: 5px;
  font-size: 14px;
}
.trafic3 {
  grid-area: trafic3;
  background: var(--bg-primary);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.schedule_text {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--font-color);
}
.schedule_text p {
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
}
.schedule {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  gap: 1rem;
}

.schedule_item {
  display: flex;
  align-items: center;
  justify-content: space-around;
  line-height: 1;
  color: var(--font-color);
  background: var(--bg-secondary);
}
.schedule_item i {
  font-size: 40px;
}
.schedule_item h3 {
  font-size: 25px;
}
.trafic4 {
  grid-area: trafic4;
  width: 100%;
  height: 100%;
  background: var(--bg-primary);
  display: grid;
  grid-template-rows: auto 160px;
}
.calendar {
  width: 100%;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}
.header i {
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}
.days,
.weekly {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.days div,
.weekly div {
  width: 14.28%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--font-color);
  font-weight: 600;
  border-radius: var(--radius);
  transition: var(--transition);
}
.days div:hover {
  background: var(--bg-secondary);
}
.month-year {
  font-size: 20px;
  font-weight: 800;
  color: var(--font-color);
}
.fade {
  color: #808080 !important;
}
.trafic_tracker {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.tracker {
  width: 100%;
}
.tracker_name {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.tracker_name p {
  font-size: 14px;
}
.load {
  width: 100%;
  background: #fff;
  border-radius: var(--radius);
}
.presentase {
  width: 50%;
  background: orange;
  color: #000;
  padding-left: 10px;
  border-radius: var(--radius);
  font-size: 14px;
  font-weight: 500;
}
.presentase.two {
  width: 70%;
}
