/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: 0;
  outline: 0;
}

:root {
  --bg-color: #fff;
  --white: #fff;
  --color-primary: orange;
  --color-primary-hover: #rgb(171, 111, 0);
  --font-color: #000;

  --box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
  --font-size-large: clamp(24px, 4vw, 40px);

  --font-size-small: clamp(14px, 1vw, 24px);
  --font-size-medium: clamp(16px, 2vw, 24px);
  --border-radius: clamp(10px, 1vw, 16px);
  --padding: 10px;
}

p {
  font-size: var(--font-size-small);
  font-weight: 600;
}
a {
  font-size: var(--font-size-small);
  font-weight: 600;
  color: var(--color-primary);
}
i {
  font-size: 20px;
}
.btn {
  width: 100%;
  height: 40px;
  font-size: var(--font-size-small);
  font-weight: 600;
  color: var(--white);
  background: var(--color-primary);
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: all 300ms ease;
}
.btn:hover {
  background: rgb(176, 115, 1);
}
body {
  width: 100%;
  height: 100vh;
  background: url(/asset/Frame3.png);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Poppins", sans-serif;
}
.container {
  height: 100%;
  display: grid;
  grid-template-columns: auto 40%;
  transition: all 300ms ease;
}

.side-left {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: var(--white);
}
.side-left h1 {
  font-size: var(--font-size-large);
}
.side-left h3 {
  font-size: var(--font-size-medium);
}
.side-right {
  width: 100%;
  height: 100%;
  background: var(--bg-color);
  border-radius: 30px 0 0 30px;
  box-shadow: -6px 0 6px rgba(0, 0, 0, 0.3);
  display: grid;
  grid-template-rows: 48px auto;
  background: var(--bg-color);
  overflow: hidden;
}
.btn-slide {
  width: 100%;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: auto;
}
.btn-slide div {
  width: 80%;
  height: 10px;
  border-radius: 5px;
  pointer-events: none;
  margin-bottom: 10px;
}
.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login {
  transform: translateX(0);
  opacity: 1;
}
.register {
  transform: translateX(130%);
  opacity: 0;
}
.wrapper.active .login {
  transform: translateX(-130%);
  opacity: 0;
}
.wrapper.active .register {
  transform: translateX(0);
  opacity: 1;
}
.side-right h1 {
  color: var(--color-primary);
}

.form {
  position: absolute;
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 20px;
  transition: all 300ms ease;
}
form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}
.item {
  position: relative;
  width: 100%;
  height: 48px;
  border: 1px solid var(--font-color);
  border-radius: var(--border-radius);
  display: flex;
  align-items: center;
  padding: 0 10px;
  gap: 0.7rem;
}
.item input {
  width: 100%;
  color: var(--font-color);
  font-weight: 600;
}

.item label {
  position: absolute;
  color: var(--font-color);
  font-size: 16px;
  left: 36px;
  transition: all 300ms ease;
}

.item input:focus ~ label,
.item input:not(:placeholder-shown) ~ label {
  font-size: 14px;
  background: var(--bg-color);
  padding: 0 5px;
  top: -10px;
}
.checkbox {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.checkbox span {
  color: var(--color-primary);
}
.checkbox.log {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.text {
  display: flex;
  gap: 1rem;
}
.divider {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.divider::before,
.divider::after {
  content: "";
  flex: 1;
  height: 2px;
  background: var(--font-color);
}
.divider span {
  font-size: var(--font-size-medium);
  font-weight: 600;
  color: var(--font-color);
  padding: 0 8px;
}
.icons {
  width: 100%;
  display: flex;
  text-align: center;
  flex-direction: column;
  gap: 1rem;
}
.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.icon i {
  font-size: 30px;
  background: var(--color-primary);
  padding: var(--padding);
  color: var(--white);
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: all 300ms ease;
}
.icon i:hover {
  background: rgb(176, 115, 1);
}
/* Tablet */
@media (max-width: 834px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: auto 80%;
    overflow: hidden;
    transition: all 300ms ease;
  }
  .container.active {
    grid-template-rows: auto 30px;
  }
  .side-right {
    border-radius: 30px 30px 0 0;
  }
  .btn-slide div {
    background: var(--color-primary);
  }
  .wrapper {
    min-height: 520px;
  }
  .form {
    gap: 1rem;
  }
  form {
    gap: 1rem;
  }
  .icons {
    gap: 1rem;
  }
}

/* Mobile */
@media (max-width: 390px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: auto 80%;
    overflow: hidden;
    transition: all 300ms ease;
  }
  .container.active {
    grid-template-rows: auto 30px;
  }
  .side-right {
    border-radius: 30px 30px 0 0;
  }
  .btn-slide div {
    background: var(--color-primary);
  }
  .wrapper {
    min-height: 520px;
  }
  .form {
    gap: 0.5rem;
  }
  form {
    gap: 0.5rem;
  }
  .icons {
    gap: 0.5rem;
  }
}
